@charset "UTF-8";

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 70px;
	margin-bottom: 150px;
}

a, a:active, a:focus {
	outline: none !important;
	cursor: pointer;
}

.appdev-navbar {
	margin-bottom: 0px;
}

.appdev-masthead {
	padding: 80px 0;
	text-align: center;
	font-size: 32px;
}

.appdev-shortcuts > a {
	margin-bottom:10px;
	border-radius:4px !important;
}

.btn-outline-inverse {
	background-color: transparent;
	border-color: black;
}

.appdev-baseline {
	text-align: center;
}

.appdev-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: transparent;
	text-align: center;
}

.appdev-footer-links > li {
	display: inline-block;
	margin: 0 10px;;
}

.appdev-footer-links {
	padding-left: 0;
}

img {
	max-width: 100%;
}

#appdev-logo {
	height: 350px;
}

#sidenav {
	top: 50px;
}

#sidenav-search {
	background-color: #222;
}
