{% extends "base.html" %}

{% block content %}
<h1>Details for application: {{ object.title }}</h1>

<a href="{% url 'app:app-update' app.pk %}" class="btn btn-primary">Update details</a>

<h2>
    Creation date:
</h2>

<p>
{{ object.created_date }}
</p>

<h2>
	Webpage:
</h2>

<p>
{% if object.webpage %}
{{ object.webpage }}
{% else %}
No webpage currently defined
{% endif %}
</p>

<h2>
	Privacy policy:
</h2>

<p>
{% if object.privacy_policy %}
{{ object.privacy_policy }}
{% else %}
No privacy policy currently defined
{% endif %}
</p>

<h2>
	Description:
</h2>

<p>
{% if object.description %}
{{ object.description }}
{% else %}
No description currently defined
{% endif %}
</p>

<h2>
	Category:
</h2>

<p>
{{ object.get_category_display }}
</p>

<h2>Versions</h2>

<p><a href="{% url 'app:app-new-version' app.pk %}" class="btn btn-primary">Propose a new version</a></p>

<ul class="list-group">
{% for version in object.versions.all %}
<li class="list-group-item">
	{{ version.semantic_version }}
	{% if version.accepted %}
	<span class="label label-primary label-pill pull-right">
	Accepted
	</span>
	{% else %}
	<span class="label label-default label-pill pull-right">
	Not accepted
	</span>
	{% endif %}
</li>
{% endfor %}
</ul>

{% endblock %}
