{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
| New application
{% endblock %}

{% block content %}
<h1>New application</h1>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
{% bootstrap_form form %}
<hr class="divider" />
<h2>Initial version</h2>
<p>
You can upload an initial version for this application.
This is not mandatory and can be done later as well.
</p>
{% bootstrap_formset app_version_form %}
{% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
</form>
{% endblock %}
