{% extends "base.html" %}

{% block content %}
<h1>My applications</h1>
<p><a href="{% url 'app:app-create' %}" class="btn btn-primary">Create new application</a></p>

<div class="table-responsive">
	<table class="table">
	<thead>
      	<tr>
        	<th>Title</th>
        	<th>Creation date</th>
		<th>Versions</th>
      	</tr>
    	</thead>
    	<tbody>
	{% for app in object_list %}
		<tr>
		<td><a href="{{ app.get_absolute_url }}">{{ app.title }}</a></td>
		<td>{{ app.created_date }}</td>
		<td>{{ app.versions.all|length }}</td>
		</tr>
	{% endfor %}
    	</tbody>
	</table>
</div>
{% endblock %}
