{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
| Update application
{% endblock %}

{% block content %}
<h1>Update application</h1>
<form action="" method="post">{% csrf_token %}
{% bootstrap_form form %}
{% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
</form>
{% endblock %}
