{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<h1>New application version</h1>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
{% bootstrap_form form %}
{% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
</form>
{% endblock %}
