{% extends "base.html" %}

{% block content %}
<div class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only">Permission Denied:</span>
	{{ exception }}
</div>
{% endblock %}
