{% extends 'bootstrap3/bootstrap3.html' %}
{%load staticfiles %}

{% block bootstrap3_extra_head %}
{% block stylesheets %}{% endblock %}
<link rel="stylesheet" href="{% static "main/style.css" %}" type="text/css">
{% block scripts %}{% endblock %}

<link rel="apple-touch-icon" sizes="57x57" href="{% static "main/favicons/apple-touch-icon-57x57.png" %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static "main/favicons/apple-touch-icon-60x60.png" %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "main/favicons/apple-touch-icon-72x72.png" %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static "main/favicons/apple-touch-icon-76x76.png" %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static "main/favicons/apple-touch-icon-114x114.png" %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static "main/favicons/apple-touch-icon-120x120.png" %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static "main/favicons/apple-touch-icon-144x144.png" %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static "main/favicons/apple-touch-icon-152x152.png" %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "main/favicons/apple-touch-icon-180x180.png" %}">
<link rel="icon" type="image/png" href="{% static "main/favicons/favicon-32x32.png" %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static "main/favicons/favicon-194x194.png" %}" sizes="194x194">
<link rel="icon" type="image/png" href="{% static "main/favicons/favicon-96x96.png" %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static "main/favicons/android-chrome-192x192.png" %}" sizes="192x192">
<link rel="icon" type="image/png" href="{% static "main/favicons/favicon-16x16.png" %}" sizes="16x16">
<link rel="manifest" href="{% static "main/favicons/manifest.json" %}">
<link rel="mask-icon" href="{% static "main/favicons/safari-pinned-tab.svg" %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{% static "main/favicons/mstile-144x144.png" %}">
<meta name="theme-color" content="#ffffff">

{% endblock %}

{% block bootstrap3_title %}
Apertis developer portal
{% block title %}
{% endblock %}
{% endblock %}

{% block bootstrap3_content %}
{% include "nav.html" %}

{% block header %}{% endblock %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 hidden-xs hidden-sm" id="sidenav-column">
			{% block sidenav %}{% endblock %}
		</div>
		<div class="col-md-8">
			{% block content %}{% endblock %}
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

{% include "footer.html" %}

{% endblock %}

{% block bootstrap3_extra_script %}
<script src="{% static "main/navbar_offset_scroller.js" %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76952868-1', 'auto');
    ga('send', 'pageview');
</script>
{% block tail_scripts %}{% endblock %}
{% endblock %}
