<footer class="appdev-footer">
	<div class="container">
		<hr class="divider">
		<ul class="appdev-footer-links">
			<li>
			<a href="mailto:sdk-support@apertis.org">Contact us</a>
			</li>
			<li>
			<a href="https://wiki.apertis.org/Apertis:Privacy_policy">Privacy policy</a>
			</li>
			<a href="https://wiki.apertis.org/Apertis:About">About Apertis</a>
		</ul>
		<p>
		Built by <a href="https://www.collabora.com/">Collabora</a>
		</p>
	</div>
</footer>
