{% extends "base.html" %}

{%load staticfiles %}

{% block content %}
<div class="appdev-masthead">
	<img id="appdev-logo" alt="Apertis logo" src="{% static "main/apertis_logo_blue.svg" %}"/>
	<p>Free and Open Source GNU/Linux-based In-Vehicle Infotainment platform</p>
	<div class="btn-group btn-group-vertical appdev-shortcuts" role="group">
		<a href="{% url 'documentation:documentation_page' 'index.html'%}" class="btn btn-outline-inverse btn-lg">Getting Started with App Development</a>


	</div>
</div>
<hr class="divider">
<div class="appdev-baseline">
	<h3>Quick Links:</h3>
	<h4><a href="{% url 'sdk_terms' %}">Download SDK</a>, <a href="{% url 'app:app-list' %}">Distribute</a>
		<a href="https://phabricator.apertis.org/">Phabricator</a> <a href="https://wiki.apertis.org/Main_Page">Wiki</a>
	</h4>
</div>
{% endblock %}
