{%load staticfiles %}

<header class = "navbar navbar-inverse navbar-fixed-top appdev-navbar" role = "banner" id="nav-header">
	<div class = "container-fluid">
		<div class="row">
			<div class="col-md-2 hidden-xs hidden-sm" id="sidenav-column">
			</div>
			<div class="col-md-8">
				<div class ="navbar-header">
					<button type = "button" class= "navbar-toggle" data-toggle = "collapse" data-target = "#dropdown">
						<span class = "sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a href="{% url 'home' %}" class ="navbar-brand">
						<img alt="Apertis developer portal" src="{% static "main/apertis_logo.png" %}"/>
					</a>
				</div>

				<div class = "collapse navbar-collapse" id = "dropdown">
					<ul class = "nav navbar-nav navbar-right" role = "navigation">
						{% if user.is_authenticated %}
						<li {% if request.path|slice:":4" == '/sdk' %}class="active"{% endif %}>
							<a href="{% url 'sdk_terms' %}">Download</a>
						</li>
						{% endif %}
						<li {% if request.path|slice:":15" == '/documentation/' %}class="active"{% endif %}>
							<a href="{% url 'documentation:documentation_page' 'index.html'%}">Documentation</a>
						</li>
						{% if user.is_authenticated %}
						<li {% if request.path|slice:":5" == '/app/' %}class="active"{% endif %}>
							<a href="{% url 'app:app-list' %}">My applications</a>
						</li>
						<li><a href="{% url 'user_home' %}">Settings</a></li>
						<li><a href="/accounts/logout/">Logout</a></li>
						{% else %}
						<li><a href="/accounts/login/">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
</header>
