{% extends "base.html" %}
{% load bootstrap3 %}

{%load staticfiles %}

{% block content %}
{% if messages %}
<div class="alert alert-success">
	{% for message in messages %}
	{% if message.tags == "success" %}
	{{ message }}
	{% endif %}
	{% endfor %}
</div>
{% endif %}

<h1>My profile</h2>
<p>
<p><b>Email account</b></p>
{% if user.email %}
{{ user.email }}
{% else %}
No email set
{% endif %}
</p>
<p>
<a href="/accounts/email/" class="btn btn-primary">Manage accounts</a>
</p>
<p><b>Password</b></p>
<p>
<a href="/accounts/password/change/" class="btn btn-primary">Update password</a>
</p>


<form action="" method="post">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons submit='OK' %}{% endbuttons %}
</form><br />

{% endblock %}
