{% extends "base.html" %}

{% block content %}

<h1>
	Thanks for downloading our SDK!
</h1>

<p>
<a href="{{ download_link }}">
	Click this direct link if your download did not start automatically
</a>
</p>

<p>
While you're downloading, you may want to have a look at <a href="{% url 'documentation:documentation_page' 'index.html'%}">our documentation</a>, it contains an installation guide to get you started.
</p>

{% endblock %}

{% block tail_scripts %}
<script>
$(document).ready(function() {
		setTimeout(function() {
				window.location = "{{ download_link }}";
		}, 2000);
});
</script>
{% endblock %}
