{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
| SDK Download
{% endblock %}

{% block content %}
<h1>Download the SDK</h1>

<h2>Terms and Conditions</h2>

<p>
Copyright (c) 2015-2016 Collabora Limited
</p>
</p>
Copyright (c) 2015-2016 Robert Bosch Car Multimedia GmbH
</p>

<p>
<h3>Accepting this License Agreement</h3>
<ul>
	<li>In order to use the SDK, you must first agree to this License Agreement. You may not use the SDK if you do not accept this License Agreement.</li>
	<li>By clicking to accept, you hereby agree to the terms of this License Agreement.</li>
	<li>You may not use the SDK and may not accept the License Agreement if you are a person barred from receiving the SDK under the laws of the United States or other countries including the country in which you are resident or from which you use the SDK.</li>
	<li>If you are agreeing to be bound by this License Agreement on behalf of your employer or other entity, you represent and warrant that you have full legal authority to bind your employer or such entity to this License Agreement.</li>
	<li>If you do not have the requisite authority, you may not accept the License Agreement or use the SDK on behalf of your employer or other entity.</li>
</ul>
</p>

<p>
<h3>SDK License from Apertis</h3>
<ul>

<li>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</li>

</li>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</li>

<li>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</li>

</ul>
</p>

<form action="" method="post">{% csrf_token %}
{% bootstrap_form form %}
{% buttons submit='OK' %}{% endbuttons %}
</form>
{% endblock %}
