{% extends "base.html" %}

{% block stylesheets %}
{% for stylesheet in hotdoc_stylesheets %}
<link rel="stylesheet" href="{{ stylesheet }}" type="text/css"/>
{% endfor %}
{% endblock %}

{% block sidenav %}
<div class="panel panel-collapse" id="sidenav" data-hotdoc-role="navigation">
	<div id="sidenav-search" role="search">
		<input type="text" placeholder="Fetching index" id="sidenav-lookup-field" disabled="disabled"/>
	</div>

	<div class="sidenav-main-panel-body">
		<div id="site-navigation">
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
{{ hotdoc_contents|safe }}
<div id="search_results">
	<p>Search results</p>
</div>
{% endblock %}

{% block tail_scripts %}
{% for script in hotdoc_scripts %}
<script src="{{ script }}"></script>
{% endfor %}
<script>
$('body').attr('data-spy', 'scroll');
$('body').attr('data-target', '.scrollspy');
$('body').attr('data-offset', '70');
</script>
{% endblock %}
